* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    padding: 5rem 1rem;
    background: linear-gradient(45deg, white 50%, green 50%);
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.home-text h2 {
    font-size: 3.5rem;
    padding: 2rem;
}
.home-text h1 {
    font-size: 2rem;
    padding: 2rem;|
}
.home-text p {
    font-size: 2rem;
    padding: 2rem;
}

.home-img {
    width: 340px;
    height: 340px;
    border-radius: 40% 60% 9% 90%;
    background-color: darkgoldenrod;

}

.home-img img {
  width: 95%;
  height: auto;
  object-fit: hidden;
  transform: rotate(3deg);
}